.vg-chat.vg-chat_contacts_list,
.vg-chat.vg-chat_chat_box {
    border: 1px solid RGB(210,210,210);
    min-height: 90%;
    float: left;
    margin-top: 0;
    border-radius: 3px;
}

.vg-chat.vg-chat_contacts_list {
    width: 23%;
}

.vg-chat.vg-chat_chat_box {
    width: 75%;
    margin-left: 2%;
    padding: 22px;
}

.leftSearch {
    width: 90%;
    margin-left: 5%;
    border: 1px solid RGB(210,210,210);
    margin-top: 14px;
    position: relative;
    padding-right: 35px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    box-shadow: 0 1px 1px rgba(255,255,255,0.0) inset, 0 0 8px rgba(255,255,255,0.0);
    outline: 0 none;
}

#searchGlyphicon {
    position: relative;
    margin-left: 84%;
    margin-top: -25px;
    font-size: 17px;
    color: RGB(190,190,190);
    top: auto;
}

.newMessagesNum {
    color: white;
    float: right;
    background-color: RGB(255,0,0);
    width: 1.1vw;
    height: 0.9vw;
    text-align: center;
    font-size: 0.6vw;
    border-radius: 0.5vw;
}

.master {
    width: 90%;
    margin-left: 5%;
    margin-top: 22px;
    cursor: pointer;
    height: 3.5vw;
}

.leftImage {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    position: relative;
}

.nameTime {
    font-size: 0.9vw;
    margin-top: -3vw;
    margin-left: 5vw;
}

.name {
    font-weight: bold;
}

.rightSearch {
    width: 25%;
    float: right;
    border: 1px solid RGB(210,210,210);
    position: relative;
    padding-right: 35px;
}

#glyphiconSearchRight {
    position: relative;
    margin-left: 96.5%;
    margin-top: -25px;
    font-size: 17px;
    color: RGB(190,190,190);
    top: auto;
}

.messageBox {
    width: 100%;
    float: left;
    overflow-y: scroll;
    overflow-x: none;
    height: 50%;
    margin-top: 10px;
}

.oneMessage {
    width: 100%;
    margin-top: 15px;
    float: left;
}

.myMsgDiv,.otherMsgDiv {
    width: 80%;
    float: left;
}

.time {
    color: RGB(197,197,197);
}

.myImage {
    float: left;
    width: 6vw;
    height: 6vw;
    margin-left: 2%;
    border-radius: 3vw;
}

.otherImage {
    float: left;
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
}

.mySpanTime {
    float: left;
    color: RGB(197,197,197);
    margin-left: 3%;
}

.otherSpanTime {
    float: right;
    margin-left: 1%;
    color: RGB(197,197,197);
}

.mySpanName {
    float: right;
    font-weight: bold;
    margin-right: 6%;
}

.otherSpanName {
    float: left;
    font-weight: bold;
    margin-left: 5%;
}

.myText {
    width: 100%;
    border-radius: 6px;
    background-color: RGB(244,244,244);
    clear: both;
    padding: 10px;
    float: left;
    margin-top: 10px;
    text-align: right;
}

.otherText {
    width: 100%;
    border-radius: 6px;
    background-color: RGB(228,254,223);
    clear: both;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 2%;
}

.newMessage {
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    margin-top: 10px;
}

.btn-green {
    background-color: RGB(98,201,91);
    color: #ffffff;
    margin-top: 10px;
    border-radius: 0px;
    float: left;
}

.filesDiv {
    float: left;
    margin-top: 10px;
}

.messageImage {
    max-width: 90%;
    margin: 0 auto;
    cursor: pointer;
    max-height: 100px;
}

#downArrow,#upArrow {
    float: right;
    margin-right: 27%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    color: #959595;
}

#upArrow {
    margin-right: 31%;
    margin-top: -25px;
}

.searchDivYellow {
    background-color: RGB(255, 255, 216);
}

.modal {
    display: none;
    position: relative;
    height: 32px;
    width: 32px;
    background: rgba( 255, 255, 255, .8 )
		url('http://sampsonresume.com/labs/pIkfp.gif')
		20% 20%
		no-repeat;
}

.loadingDiv {
    font-weight: bold;
    font-size: 20px;
    margin-top: -76px;
    position: relative;
    display: none;
    width: 65%;
}

div.loading {
    display: block;
}

div.loading .modal {
    display: block;
}

.lastOnline {
    position: relative;
    float: right;
    margin-top: -35px;
    margin-right: 55%;
}
/*.myText br:last-child {
    display: none;
}*/

.vg-chat.vg-chat_floating_chat {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 15%;
    height: 100%;
    background-color: white;
    border-left: 1px solid RGB(190,190,190);
    display: none;
}

.chatOpen {
    position: fixed;
    right: 0;
    top: 20%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.vg-chat.vg-chat_floating_chat .contacts-list {
    height: 90%;
    width: 100%;
}

.newMessagesNum-chatBox {
    color: white;
    float: left;
    background-color: RGB(255,0,0);
    width: 1.1vw;
    height: 0.9vw;
    text-align: center;
    font-size: 0.6vw;
    border-radius: 0.5vw;
}

.chatBox {
    float: right;
    width: 18%;
    border: 1px solid RGB(200,200,200);
    background-color: white;
    position: fixed;
    bottom: 0;
}

.grayRound {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 0.4vw;
    background-color: RGB(197,197,197);
    position: relative;
    margin-top: -1vw;
    margin-left: 3vw;
}

.lineColorGray {
    background-color: #555555;
}

.lineColorGreen {
    background-color: RGB(98,201,91);
}

.lineColorNewMessage {
    background-color: #444;
}

.greenRound {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 0.4vw;
    background-color: RGB(0,204,0);
    position: relative;
    margin-top: -1vw;
    margin-left: 3vw;
}

.master-chat .grayRound,.master-chat .greenRound {
    margin-left: 3.2vw;
}

#search-chat {
    border: 1px solid RGB(210,210,210);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 35px;
}

#glyphiconSearch-fixed {
    position: absolute;
    bottom: 8px;
    right: 11px;
    color: rgb(190,190,190);
    top: auto;
    font-size: 19px;
}

#glyphiconOut-fixed {
    position: fixed;
    font-size: 26px;
    position: fixed;
    bottom: 0px;
    left: 85.5%;
    float: left;
    cursor: pointer;
    top: 96%;
}

#contactList {
    display: none;
    position: fixed;
    bottom: 0;
    left: 85%;
    width: 15%;
    background-color: RGB(90,90,90);
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

#chatBoxesLine {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 85%;
    color: #ffffff;
}

.glyphicon-remove-chatBox {
    float: right;
    margin-right: 2%;
    font-size: 15px;
    margin-top: -1px;
    cursor: pointer;
    font-weight: bold;
}

.chatBoxName {
    font-weight: bold;
    float: left;
    margin-left: 2%;
    margin-top: -3px;
}

.chatBoxMessages {
    width: 100%;
    height: 70%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
}

.firstLineChatBox {
    padding: 8px;
    border-bottom: 1px solid RGB(200,200,200);
    float: left;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
}

.newMessageChatBox {
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    width: 80%;
    margin-top: 3px;
    color: #000000;
    float: left;
}

.masterMsgDiv {
    width: 96%;
    margin-left: 2%;
    float: left;
    margin-top: 10px;
}

.masterMsgDiv .messageImage {
    width: 100%;
}

.otherImageChatBox {
    width: 3vw;
    height: 3vw;
    float: left;
    border-radius: 1.5vw;
}

.myImageChatBox {
    width: 3vw;
    height: 3vw;
    float: right;
    border-radius: 1.5vw;
}

.nameTimeChatBox {
    float: left;
    width: 100%;
}

.myNameTimeChatBox {
    float: right;
    width: 100%;
}

.nameChatBox {
    font-weight: bold;
    float: right;
}

.timeChatBox {
    color: RGB(190,190,190);
    float: left;
}

.nameChatBoxO {
    font-weight: bold;
    float: left;
}

.timeChatBoxO {
    color: RGB(190,190,190);
    float: right;
}

.otherMessageTextChatBox {
    width: 90%;
    background-color: RGB(228,254,223);
    padding: 6px;
    float: left;
    border-radius: 5px;
    margin-top: 3px;
}

.myMessageTextChatBox {
    width: 90%;
    background-color: RGB(244,244,244);
    padding: 6px;
    float: right;
    border-radius: 5px;
    margin-top: 3px;
}

.filesNames {
    width: 100%;
    font-weight: bold;
}

.fileName {
    font-weight: bold;
    margin-left: 4%;
}

.modalChatBox {
    display: none;
    position: relative;
    height: 32px;
    width: 32px;
    background: rgba( 255, 255, 255, .8 )
		url('http://sampsonresume.com/labs/pIkfp.gif')
		20% 20%
		no-repeat;
}

.loadingDivChatBox {
    font-weight: bold;
    font-size: 20px;
    margin-top: -76px;
    position: relative;
    display: none;
    width: 100%;
}

div.loadingChatBox {
    display: block;
}

div.loadingChatBox .modalChatBox {
    display: block;
}

.spanLine {
    float: right;
    margin-right: 2%;
    border-bottom: 4px solid RGB(255,255,255);
    height: 14px;
    width: 13px;
}

.sndBtn {
    width: 20%;
    height: 44px;
    cursor: pointer;
    margin-top: 3px;
}

.indicator {
    text-align: left;
    font-size: 13px;
    display: none;
    color: RGB(190,190,190);
}

.spinner {
    margin: 3px auto;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: RGB(98,201,91);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.sk-fading-circle {
    width: 10px;
    height: 10px;
    position: relative;
}

.fileLoad {
    float: left;
    clear: none;
    margin-top: 5px;
    margin-left: 3px;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

/*
CSS Elsie
*/
#searchGlyphicon {
    position: absolute;
    right: 33px;
}

div.contacts-list {
    overflow-y: scroll;
}

div.contacts-list img {
    border-radius: 50% !important;
    width: 54px;
    height: 54px;
}

body {
    background: none !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #333;
}

.vg-chat.vg-chat_contacts_list, .vg-chat.vg-chat_chat_box {
    background: #fff !important;
    position: relative;
    border: 1px solid #E4E4E4;
}

#glyphiconSearchRight {
    position: absolute;
    top: 58px;
    right: 30px;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #D7D7D7;
    color: #C6C6C6;
}

textarea#newMessage {
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
    padding: 10px;
    color: #C6C6C6;
    height: 120px;
}

.myText {
    color: #5F5F5F;
    background: #F4F4F4;
}

div#chatRight b {
    color: #686868;
    font-size: 18px;
    font-weight: normal;
}

.name, 
.nameChatBox {
    color: #686868;
    font-size: 13px;
}

.lastOnline {
    float: none;
    margin: 0px 0px 0px 20px;
}

.messageBox {
    height: 350px;
}

.spanLine {
    position: relative;
    bottom: 3px;
}

.newMessageChatBox {
    height: 44px;
    overflow-y: scroll;
    margin-left: 5px;
    margin-bottom: 10px;
}

.sndBtn {
    width: 15%;
}

.vg-chat.vg-chat_floating_chat {
    width: 205px;
}

.chatBox {
    max-width: 245px;
    width: 100%;
}

.time {
    font-size: 12px;
}

.myImage {
    width: 10%;
    height: 10%;
    vertical-align: middle;
}

.grayRound {
    width: 10px;
    height: 10px;
    left: 41px;
    bottom: 11px;
    border-radius: 50%;
    margin: 0px;
}

.master {
    height: auto !important;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 15px;
    border-bottom: 1px solid #eee;
}

.leftSearch {
    width: 100%;
    margin: 0px;
}

.up-triangle:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #A0A0A0 transparent;
    right: 10px;
    top: 16px;
}

.down-triangle:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #A0A0A0 transparent transparent transparent;
    right: 10px;
    top: 16px;
}

.mobile-contacts-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .chatOpen {
        display: none;
    }

    .mobile-contacts-toggle {
        display: block;
        background: #ECECEC;
        padding: 10px;
        margin: 5px 0 0;
        position: relative;
    }

    .vg-chat.vg-chat_contacts_list {
        display: none;
    }

    .vg-chat.vg-chat_contacts_list, .vg-chat.vg-chat_chat_box {
        width: 100%;
    }

    .vg-chat.vg-chat_chat_box {
        margin-left: 0px;
    }

    #searchGlyphicon {
        right: 10%;
    }

    .rightSearch {
        width: 100%;
        margin-top: 30px;
    }

    #glyphiconSearchRight {
        top: 16%;
    }

    .lastOnline {
        display: block;
        margin: 0px;
        bottom: 60px;
    }

    .myImage {
        display: none;
    }

    .myMsgDiv {
        float: right;
        padding-right: 5%;
    }

    .myMsgDiv, .otherMsgDiv {
        width: 90%
    }
}

@media only screen and (max-width: 468px) {
    .vg-chat.vg-chat_contacts_list {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 420px) {
    #searchGlyphicon {
        right: 11%;
    }
}

.nameTime {
    font-size: 13px;
    margin-left: 60px;
    margin-top: -50px;
}

.master:last-child {
    border: none;
}

.vg-chat.vg-chat_contacts_list {
    padding: 15px;
}

.form-control {
    display: block;
    height: 34px;
    padding: 6px 35px 6px 6px;
    box-sizing: border-box;
    line-height: 20px;
    /*background: url(../imgs/search.png) no-repeat right center;*/
    font-size: 14px;
}
/*span#searchGlyphicon {
    display: none;
}*/
.hidden {
    display: none;
}

*, :after, :before {
    box-sizing: border-box;
}

.btn {
    border: none;
    display: inline-block;
    padding: 7px 15px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.master-chat .grayRound, .master-chat .greenRound {
    margin-left: 5px;
}

.newMessagesNum {
    padding: 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 12px;
    background: rgba(1, 102, 253, 0.16);
    color: #999;
}

.vg-chat.vg-chat_contacts_list .grayRound {
    bottom: 14px;
    left: 38px;
}

